<h1> Bookmark tracker :) </h1>

<a href="/bookmarks"> Bookmarks </a>
<div>
  <h2> Add new Bookmark</h2>
  <form method="post" action="/bookmarks" id="add_form">
   <input type="text" name="url" id="url" placeholder="URL">
   <input type="text" name="title" id="title" placeholder="Title">
   <input type="submit" id="submit">
  </form>
</div>