<h1> Bookmark tracker :) </h1>

<a href="/bookmarks"> Bookmarks </a>
<div>
  <h2> Add new Bookmark</h2>
  <form method="post" action="/bookmarks">
   <input type="text" name="url" placeholder="URL">
   <input type="text" name="title" placeholder="Title">
   <input type="submit">
  </form>
</div>