<script src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="<%= url('/script.js') %>"></script>
<h2> Your BooksMarks </h2>
<a href="/"> Back </a>
<a href="/bookmarks">Refresh</a>
<div id="wrapper">
<ul>
  <% @all_bookmarks.each do |mark| %>
   <li>
     <div>
         <h3> <%= mark.title %> </h3>
         <a href="<%= mark.url %>" target="blank"> visit page</a>
         <button id="<%= mark.id%>" class="remove">X</button>
      </div>
    </li>
  <% end %>
</ul>
</div>